apiVersion: v1
kind: Pod
metadata:
  name: fortune-args-from-configmap
  labels:
    app.kubernetes.io/name: fortune
    app.kubernetes.io/part-of: distributed-playground
spec:
  containers:
  - image: luksa/fortune:args
    name: html-generator
    env:
    # -------------------------------------------------------
    # METHOD A: Single Environment Variable
    # -------------------------------------------------------
    - name: INTERVAL
      valueFrom:
        configMapKeyRef:
          name: fortune-config  # Name of the ConfigMap
          key: sleep-interval   # Key inside the ConfigMap
    
    # -------------------------------------------------------
    # METHOD B: Exposing ALL entries as Env Vars
    # -------------------------------------------------------
    # This would create vars like CONFIG_sleep_interval
    envFrom:
    - prefix: CONFIG_
      configMapRef:
        name: fortune-config

    # -------------------------------------------------------
    # METHOD C: Passing ConfigMap data as Command Line Args
    # -------------------------------------------------------
    # You cannot use ConfigMaps in 'args' directly.
    # 1. Define the Env Var (above).
    # 2. Reference it here using $().
    args: ["$(INTERVAL)"]
